{% extends "LostdocsMainBundle::layout.html.twig" %}

{% block content %}
    <h1>
        Добавление объявления
        <a href="{{path('home')}}" type="button" class="pull-right btn btn-danger">Cancel</a>
    </h1>

    {% if form_errors(form)|length %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ form_errors(form) }}
        </div>
    {% endif %}
        <form action="{{ path('ann_new') }}" method="POST" role="form" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        {{ form_label(form.title) }}
                        {% if form_errors(form.title)|length %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ form_errors(form.title) }}
                            </div>
                        {% endif %}
                        {{ form_widget(form.title, { 'attr':{'class':'form-control'} }) }}    
                    </div>
                    <div class="form-group">
                        {{ form_label(form.description) }}
                        {% if form_errors(form.description)|length %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ form_errors(form.description) }}
                            </div>
                        {% endif %}
                        {{ form_widget(form.description, { 'attr':{'class':'form-control', 'rows':5} }) }}    
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="form-group">
                        {{ form_label(form.announcement_type) }}
                        {% if form_errors(form.announcement_type)|length %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ form_errors(form.announcement_type) }}
                            </div>
                        {% endif %}
                        {{ form_widget(form.announcement_type, { 'attr':{'class':'form-control'} }) }}    
                    </div>
                    <div class="form-group">
                        {{ form_label(form.document_type) }}
                        {% if form_errors(form.document_type)|length %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ form_errors(form.document_type) }}
                            </div>
                        {% endif %}
                        {{ form_widget(form.document_type, { 'attr':{'class':'form-control number'} }) }}  
                    </div>
                    <div class="form-group">
                        {{ form_label(form.reward) }}
                        {% if form_errors(form.reward)|length %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ form_errors(form.reward) }}
                            </div>
                        {% endif %}
                        <div class="input-group">
                            {{ form_widget(form.reward, { 'attr':{'class':'form-control number'} }) }}  
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 button_box">
                    {{ form_row(form._token) }}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        Сохранить
                    </button>  
                </div>
            </div>
        </form>
{% endblock %}
